<div class="landing">
  <div
    class="dark-overlay landing-inner text-dark"
    style="
      background-image: url('https://images.squarespace-cdn.com/content/v1/5c13bd117c932734830ed0b0/1544818828236-APTMOKS8R5S3AB20NDEK/rawpixel-760103-unsplash.jpg?format=2500w');
      height: 100%;
      background-position: center;
      background-size: cover;
    "
  >
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <br />
          <div>
            <h3>
              <br />
              <br />
              <p class="h1 text-light">Create a patient portfolio</p>
              <br />
              <p class="content">
                With your patient portal, you can be in control of your health
                and care. Patient portals can also save your time, help you
                communicate with your doctor, and support care between visits
              </p>
              <br />
            </h3>
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <a
              [routerLink]="['user/register-Patient']"
              class="btn btn-lg btn-primary mr-2"
              >Sign Up</a
            >
            <a
              [routerLink]="['user/login-Patient']"
              class="btn btn-lg btn-light"
              >Login</a
            >
          </div>
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
        </div>
      </div>
    </div>
  </div>
</div>
