/* mat-confirm-dialog (customised dialog) */
.mat-dialog-container {
  border-radius: 0.25em 0.25em 0.4em 0.4em;
  padding: 0px;
}
.content-container {
  margin: 5px 5px 15px 5px;
  color: #8f9cb5;
  display: flex;
}
#close-icon {
  margin-left: auto;
  order: 2;
  font-weight: bolder;
}
#close-icon:hover {
  cursor: pointer;
}

#no-button {
  height: 50px;
  width: 50%;
  background-color: #b6cec9;
  color: white;
  border-radius: 0px;
}

#yes-button {
  height: 50px;
  width: 50%;
  background-color: #fc7169;
  color: white;
  border-radius: 0px;
}

span.content-span {
  padding: 35px 16px;
  text-align: center;
  font-size: 20px;
}
