<nav
  *ngIf="!loginFlag"
  class="navbar sticky-top navbar-expand-lg navbar-dark style"
>
  <a
    style="font-weight: bolder; font-size: xx-large"
    class="navbar-brand"
    routerLink=""
    >PatientPortal</a
  >
  <button
    style="color: #000"
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span style="color: aliceblue" class="material-icons"> menu </span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/user/register-Patient">Sign Up</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/user/login-Patient">Login</a>
      </li>
    </ul>
  </div>
</nav>
