<table mat-table [dataSource]="elementData" class="mat-elevation-z8">
  <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef>Appointment</th>
    <td mat-cell *matCellDef="let element">{{ element.date }}</td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="physician">
    <th mat-header-cell *matHeaderCellDef>Physician</th>
    <td mat-cell *matCellDef="let element">{{ element.physician }}</td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef>Status of Appointment</th>
    <td
      mat-cell
      style="font-weight: 900"
      *matCellDef="let element"
      [ngStyle]="{
        color:
          element.appointment_status === 'Approved'
            ? 'green'
            : element.appointment_status === 'Rejected'
            ? 'red'
            : element.appointment_status === 'Pending'
            ? 'brown'
            : ''
      }"
    >
      {{ element.appointment_status }}
    </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="notes">
    <th mat-header-cell *matHeaderCellDef>Notes from Physician</th>
    <td mat-cell *matCellDef="let element">{{ element.noteFromDoc }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
