<div class="container">
  <div class="modal-dialog modal-confirm">
    <div class="modal-content">
      <div class="modal-header">
        <div class="icon-box">
          <i class="material-icons">&#xE876;</i>
        </div>
        <h4 class="modal-title text-center">Awesome!</h4>
      </div>
      <div class="modal-body">
        <p class="text-center">Your Record has been Saved.</p>
      </div>
      <div class="modal-footer">
        <button
          class="btn btn-success btn-block"
          routerLink="/dashboard/patient/landing/profile"
        >
          OK
        </button>
      </div>
    </div>
  </div>
</div>
